body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #333;
}

header {
  background-color: #eef7f9;
  padding: 20px;
  text-align: center;
}

.logo img {
  width: 400px;
  
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #300594;
}

main {
  padding: 20px;
}

.notes {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notes h2 {
  color: #4caf50;
  font-size: 1.5em;
}

.notes ul {
  list-style: none;
  padding: 0;
}

.notes li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.how-to {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.how-to h2 {
  color: #007bff;
  font-size: 1.5em;
}

.how-to p {
  font-size: 1.2em;
}

.how-to img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.generator,
.how-it-works {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: #45a049;
}

#copyButton {
  background-color: #007bff;
  margin-top: 20px;
}

#copyStatus {
  margin-top: 10px;
  font-size: 1.2em;
}

pre {
  background-color: #f8f9fa;
  padding: 12px;
  border: 1px solid #d6d8db;
  border-radius: 4px;
  overflow: auto;
  font-size: 1.2em;
}

footer {
  text-align: center;
    background-color: #e2f5fa;
    color: rgb(0, 0, 0);
    padding: 10px;
}

footer a {
  color: #ad11e0;
  text-decoration: underline;
}
.styled-paragraph {
  color: #010101;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  padding: 15px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align:center;

}